<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url" />
        <property name="connection.driver_class"/>
<!--        org.postgresql.Driver-->
<!--         <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>


        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- validate | update | create | create-drop -->
        <!--TODO SWITCH TO create once testing ends    -->
        <property name="hbm2ddl.auto">create-drop</property>
    </session-factory>
</hibernate-configuration>